<section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1><u>Donate Function</u></h1>
                <p>When you signed up we automatically added free 5 credits to use on one of the events</p>
                <p>We think that donating is a great way for people to show their love for not only food at pop-up restaurants, but also the people behind them.</p>
                <p>You can not directly get add credit to your account.</p>
                <h3>Getting More Credit</h3>
                <p> to be able to get more credit you have to get envolved!</p>
                <p> You will be given the chance to add credit once your meet a few conditions</p>
                <ul>
                  <p>One: You need to have your own pop</p>
                  <p>Two: You need to vote!</p>
                  <p>Three: You need to have already donated</p>
                </ul>
               <h3><u>Thank you for your support!</u></h3>
            </div>
        </div>
    </section>

    
