<% @restaurants.each do |restaurant|%>
        <div class="square">
             <div class="content">
               <div class="table">
                   <div class="table-cell">
                     <h5 class="text-center"><%=restaurant.name%></h5>
                               <%if restaurant.avatar_url(:thumb).to_s.empty?%>
                                    <p><%= image_tag("/spain-image.jpg", :size => "200x200")%></p>
                                <% else%>        
                             <%=image_tag restaurant.avatar_url(:thumb).to_s%>
                         <%end%> 
<!-- http://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_toggle_hide_show  for the show and hide feature js-->                 
                    </div>
                </div>
             </div>
          </div>

        <%end%>
        <section id="contact" class="container content-section text-center">
             <div class="row">
                 <div class="col-lg-8 col-lg-offset-2">
                     <h2 class="text-center">Locations</h2>
                          <p>Where are we? </p>
                              <p>Here is a sneak-peak of some of the distantions</p>
                               <div id="map" style="position: relative; overflow: hidden;"><div style="height: 100%; width: 100%; position: absolute; background-color: rgb(229, 227, 223);">
                               <div class="gm-err-container">
                               

                          </div>
                     </div>
             </div>
        </div>
        <!-- I need to add either geocoder or html api geolocation -->
    </section>
   
 <!-- this needs to be badly refactored in helper method!! -->
 