<% @restaurants.each do |restaurant|%>
        <div class="squares">
             <div class="square_content">
                     <legend><h1 style="color:#51657E;"><%=restaurant.name%></h1></legend>
                                <%if restaurant.avatar_url(:thumb).to_s.empty?%>
                                    <p><%= image_tag("/spain-image.jpg", :size => "200x200")%></p>
                                <% else%>
                            <p><%=image_tag restaurant.avatar_url(:thumb).to_s%></p> 
                         <p style="font-size: 12px;"> <%=restaurant.description%></p> 
                    </div>
                </div>
     <%end%>
 <%end%>
 <!-- this needs to be badly refactored in helper method!! -->