<% @restaurants.each do |restaurant|%>
        <div class="square">
             <div class="content">
               <div class="table">
                   <div class="table-cell">
                     <h5 class="text-center"><%=link_to "#{restaurant.name}", restaurant_url(restaurant.id), {style: "color: white"}%></h5>
                            <%= link_to image_tag(restaurant.avatar_url(:thumb), :class => "hover"), restaurant_url(restaurant.id), title:restaurant.name %>
                                                           
                                </div>
                            </div>
                        </div>
                    </div>
                <%end%>
                <!-- <div class="text-center">
                    <h2>Here is a sneak-peak of some of the distantions</h2>
                        <p> Here are some of the current locations</p>  
                          </div> -->
                            <!-- <div id="map" style="position: relative; overflow: hidden;">
                                <div style="height: 100%; width: 100%; position: absolute; background-color: rgb(229, 227, 223);">
                                        <div class="gm-err-icon">
                                            <script>
                                                 function initMap() {
                                                    var myLatLng = {lat:48.8566, lng:2.3522}; 
                                                    var map = new google.maps.Map(document.getElementById('map'), {
                                                        zoom: 4,
                                                        center: myLatLng
                                                    });
                                                    var marker = new google.maps.Marker({
                                                        position: myLatLng,
                                                        map: map,
                                                      title: 'Hello World!'
                                                    });
                                                }
                                                </script>
                                            <script src="https://maps.googleapis.com/maps/api/js?key=<%=Rails.application.secrets.google_api%>&callback=initMap" async defer>                          
                                        </script> -->
                                    </div>
                               </div>
                         </div>
                        <div class="text-center  navbar-fixed-bottom">
                            <%=paginate @restaurants%>
                        </div>

  
 

 