<% @restaurants.each do |restaurant|%>
        <div class="square">
             <div class="content">
               <div class="table">
                   <div class="table-cell">
                     <h5 class="text-center" style="color:#51657E;"><%=restaurant.name%></h5>
                                <%if restaurant.avatar_url(:thumb).to_s.empty?%>
                                    <p><%= image_tag("/spain-image.jpg", :size => "200x200")%></p>
                                <% else%>
                            <p><%=image_tag restaurant.avatar_url(:thumb).to_s%></p> 
                    
                         <%end%> 
                    </div>
                </div>
             </div>
          </div>
        <%end%>
   
 <!-- this needs to be badly refactored in helper method!! -->