<div class="text-center">
		<label> Online status:</label><h3 style="text-shadow: 2px 2px; color:#16d97e;" class="blink_me"><%=online%></h3>
		<label> Number of restaurants:</label><h3><%=@restaurant.count%></h3>










</div>

