// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .square {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    overflow:hidden;
}

 .content {
    position:absolute;
    height:80%; /* = 100% - 2*10% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding:8% 5%;
}

.table{
    display:table;
    height:100%;
    width:100%;
}
.table-cell{
    display:table-cell;
    vertical-align:middle;
    height:100%;
    width:100%;
}

.content .rs{
    width:auto;
    height:auto;
    max-height:90%;
    max-width:100%;
}

.pagination a, .pagination span.current, .pagination span.gap {
    color: grey;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination {
    border-left: 1px solid #grey;
    .first{
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    .prev {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    .page{
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    .next{
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    .last{
        display: inline-block;
        padding: 0;
        margin: 0;
    }
}
    .border_wrapper{
        text-overflow: ellipsis;
        overflow: scroll;
        padding:10px;
        border:3px ridge black;
        border-color: white;
}
    .numberCircle {
        border-radius: 50%;
        text-overflow: ellipsis;
        text-align: center;
        width: 80px;
        height: 46px;
        padding: 8px;

        background: #fff;
        border: 2px solid #666;
        color: #666;
        font: 32px Arial, sans-serif;
}

